{% extends 'gatetrack/base.html' %}

{% block body_block %}
    {% for cluster in clusters %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ cluster.name }}</div>
        <div class="panel-body">
            {% for manager in cluster.userprofile_set.all %}
            <span class="label label-default">{{ manager.user.username }}</span>
            {% endfor%}
        </div>
        <div class="panel-body">
            {% for project in cluster.project_set.all %}
                <p><a href="{% url 'project' pk=project.pk %}">{{ project.name }}</a></p>
            {% endfor %}
        </div>  
    </div>
    {% endfor %}    
{% endblock %}
